mixin intro()
  +b.SECTION.intro
    +e.DIV.container
      +e.DIV.info
        +b.DIV.intro-info
          +title("Some title")
          +e.P.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ullam voluptate nemo eaque dolor mollitia veritatis, repudiandae iure quidem, aperiam est fugiat temporibus, ea minima.
          +b.BUTTON.btn Some text
      +e.DIV.stat
        +b.DIV.intro-stat
          +e.SPAN.num 1500
          |years 
          span of work
        +b.DIV.intro-stat
          +e.SPAN.num 1500
          |orders 
          span per day
        +b.DIV.intro-stat
          +e.SPAN.num 1500
          |orders everyday
