mixin head-line
  +b.DIV.head-line
    +e.DIV.container
      +b.DIV.head-line-item
        +e.I.icon(class="mdi mdi-map-marker")
        |San Diego, CA, 1549 El Prado
      +b.DIV.head-line-item
        +e.I.icon(class="mdi mdi-map-marker")
        |San Diego, CA, 1549 El Prado
      +b.DIV.head-line-item
        +e.I.icon(class="mdi mdi-map-marker")
        |San Diego, CA, 1549 El Prado
      +b.DIV.head-line-item
        +e.I.icon(class="mdi mdi-map-marker")
        |San Diego, CA, 1549 El Prado
